[submodule "agents/system_analyst"]
	path = agents/system_analyst
	url = https://github.com/klmn800/os-agent-system-analyst.git
[submodule "agents/trading_advisor"]
	path = agents/trading_advisor
	url = https://github.com/klmn800/os-agent-trading-advisor.git
[submodule "agents/market_analyst"]
	path = agents/market_analyst
	url = https://github.com/klmn800/os-agent-market-analyst.git
[submodule "agents/earnings_researcher"]
	path = agents/earnings_researcher
	url = https://github.com/klmn800/os-agent-earnings-researcher.git
[submodule "agents/roundtable"]
	path = agents/roundtable
	url = https://github.com/klmn800/os-agent-roundtable.git
